@media  screen and (min-width: 1281px) {

  body {
    background-color: #F5F5F5;
  }

  .landing {
    min-width: 1280px;
    max-width: 1440px;
    height: auto;
    margin: auto;
  }

  .container {
    height: 800px;
    padding-left: 130px;
    padding-right: 130px;
  }

  .container.element,
  .container.counter {
    height: 700px;
  }

  .center {
    padding-top: 170px;
  }

  h1.main {
    width: 800px;
    margin-top: 70px;
  }

  h1.blue_paragraph {
    margin-top: 300px;
  }

  h1.number {
    font-size: 140px;
    margin-top: 60px;
  }

  p.number {
    margin-top: 90px;
  }

  img.logo {
    width: 140px;
    margin-top: 140px;
  }

  section.image.main img {
    top: 440px;
    width: 1400px;
    left: calc((100% - 1400px) / 2);
    right: calc((100% - 1400px) / 2);
  }

  h1.blue_paragraph {
    width: 800px;
  }

  /*container screen*/

  .text {
    margin-top: 160px;
    width: 560px;
  }

  .element .text {
    margin-top: 170px;
  }

  h1 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 500;
  }

  p {
    margin-top: 40px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
  }

  .right {
    margin-right: 0px;
    margin-left: auto;
  }

  .left {
    margin-left: 0px;
    margin-right: auto;
  }

  section.image.phone img {
    margin-top: 110px;
    width: 300px;
    margin-left: 70px;
    margin-right: 70px;
  }

  section.image.phone.img_left img {
    float: left;
  }

  section.image.phone.img_right img {
    float: right;
  }

  /*elements*/

  section.image.element img {
    margin-top: 130px;
    width: 560px;
    height: 420.29px;
  }

  section.image.element.img_left img {
    float: left;
  }

  section.image.element.img_right img {
    float: right;
  }

  /*button*/

  .button {
    width: 230px;
    height: 55px;
    font-size: 18px;
    line-height: 55px;
    margin-top: 110px;
  }

}
